{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>Succinct</h1>
      <p>This app lets you summarize text data within CSVs. Developed December 2018.</p>
      
      <h4>Tech Used</h4>
      <ul>
        <li>Python + Flask (easier to ramp up and use out of the box when compared with React)</li>
        <li><a href="http://pythonhosted.org/Flask-Bootstrap">Flask-Bootstrap</a></li>
        <li>Python modules: sklearn</li>
      </ul>
    </div>
   </div>
{%- endblock %}
